div.preloader
    div.preloader__shadow
    div.preloader__root
        div.preloader__content
            div.preloader__background-wrap
                div.preloader__background
            div.preloader__car
                img(src='/images/preloader/car-top.svg').preloader__car-top
                img(src='/images/preloader/car-wheels.svg').preloader__car-wheels