div.cModal
    div.modal__shadow
    div.modal__wrap
        div.modal__window
            div.modal__cross-line
                div.modal__white-line
                img(src='/images/icons/cross.svg').modal__window-cross