div.zones-control__menuItem
    div.zones-control__menuItemName=name
    input(placeholder='Переименовать').zones-control__menuItemInput
    div(style="background:" + color + ';"').zones-control__menuItemColor