color_3_hover = #ccc;

.calculator__map {
    position: relative;
    border: solid 1px color_3_hover;
    flex-basis: 48%;
    overflow: hidden;

    @media only screen and (max-width: 567px) {
      flex-basis: 100%;
    }
  }