div.chooseCar__carTypes
    div.chooseCar__carTypes-header Типы машин
    div.chooseCar__carTypes-icons
    div.chooseCar__carTypes-half.loading
        div.chooseCar__carTypes-half-header Погрузка
    div.chooseCar__carTypes-half.passes
        div.chooseCar__carTypes-half-header Пропуск