div.banner__board
    div.banner__board-shadow
    div.banner__board-content
        div.banner__board-header Заголовок
        div.banner__board-sub-header подзаголовок
        div.banner__board-text текст
