div.chooseCar__cargoParams-param
    div.chooseCar__cargoParams-valueWrap
        div.chooseCar__cargoParams-minus
            img(src='/images/icons/minus-btn.svg')
        div.chooseCar__cargoParams-value=value
        div.chooseCar__cargoParams-plus
            img(src='/images/icons/plus-btn.svg')